.App {
	text-align: center;
	position: absolute;
	top: 5%;
	left: 40%;

	button {
		font-weight: bold;
	}
}

.text {
	display: inline-block;
	font-weight: bold;
	font-size: xx-large;
}

.container {
	position: relative;
	display: flex;
	width: 100%;
}
